In [3]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[0].lower())

trek

In [5]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
message = f"My first bicycle was a {bicycles[0].title()}."
print(message)
message = f"My first bicycle was a {bicycles[1].title()}."
print(message)

My first bicycle was a Trek.
My first bicycle was a Cannondale.

In [6]:
motorcycles = ['honda', 'yamaha', 'suzuki']
motorcycles[0] = 'ducati'
print(motorcycles)

['ducati', 'yamaha', 'suzuki']

In [7]:
motorcycles = ['honda', 'yamaha', 'suzuki']
motorcycles.insert(1, 'ducati')
motorcycles

['honda', 'ducati', 'yamaha', 'suzuki']

In [8]:
del motorcycles[0]
motorcycles

['ducati', 'yamaha', 'suzuki']

In [10]:
motorcycles = ['honda', 'yamaha', 'suzuki']
motorcycles.pop(2)
motorcycles

['honda', 'yamaha']

In [11]:
motorcycles = ['honda', 'yamaha', 'suzuki']
motorcycles.remove('yamaha')
motorcycles

['honda', 'suzuki']

In [17]:
 cars = ['bmw', 'audi', 'toyota', 'subaru']
print(sorted(cars))
cars

['audi', 'bmw', 'subaru', 'toyota']

['bmw', 'audi', 'toyota', 'subaru']

In [24]:
cars.reverse()

In [25]:
square = [value**2 for value in range(1,11)]
square

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [26]:
 players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[0:3])

['charles', 'martina', 'michael']

In [30]:
a = 11
a == 11

True